<!DOCTYPE html>
<html lang="en">
	<head>
		<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Fale Com</title>
		<link href="style.css" media="screen" rel="style" type="text/css" />
	</head>

<body>
	<div class="wrap">
	<img src="https://i.ibb.co/7CCWQg2/LOGO-FALECOM1.png" alt="LOGO-FALECOM1" border="0">
	<nav>
		<ul class="menu">
			<li><a href="#"><span class="iconic home"></span>Home</a></li>
			<li><a href="#"><span class="iconic plus-alt"></span>Professores</a>
				<ul>
					<li><a href="#">Provas e trabalhos acadêmicos</a></li>
					<li><a href="#">Orientação TCC</a></li>
					<li><a href="#">Dúvidas TDE/Atividades</a></li>
					<li><a href="#">Outro</a></li>
				</ul>
			</li>
			<li><a href="#"><span class="iconic magnifying-glass"></span>Secretaria</a>
				<ul>
					<li><a href="#">Atividades Complementares</a></li>
					<li><a href="#">Protocolos</a></li>
					<li><a href="#">Entrega de Documentos</a></li>
					<li><a href="#">Créditos</a></li>
				</ul>
			</li>
			<li><a href="#"><span class="iconic map-pin"></span>SIGA</a>
				<ul>
					<li><a href="#">Financeiro</a></li>
					<li><a href="#">Faltas e atestados</a></li>
					<li><a href="#">Transferência</a></li>
					<li><a href="#">Projeto comunitário</a></li>
					<li><a href="#">Outro</a></li>
					<li><a href="#">Trancar matrícula</a></li>
				</ul>
			</li>
			<li><a href="#"><span class="iconic magnifying-glass"></span>Projeto Comunitário</a>
				<ul>
					<li><a href="#">Grupos</a></li>
					<li><a href="#">Atividades</a></li>
					<li><a href="#">Documentos</a></li>
					<li><a href="#">Certificados</a></li>
				</ul>
			</li>
			</ul>
		<div class="clearfix"></div>
	</nav>
	</div>
  <footer class="fixar-rodape">
    <p>Experiência Criativa: Grupo 22 - BSI/PUCPR 2020</p>
</footer>
</body>
</div>
</html>